[build]
  command = "npm install"
  functions = "netlify/functions"
  publish = "public"

[build.environment]
NODE_VERSION = "20.18.1"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
